<footer class="footer text-muted bg-light">
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="d-flex list-style-none justify-content-center">

        <li class="mr-3">
          <span>© <%= Date.today.year %> MilSpouseCoders</span>
        </li>

        <li class="mr-3"><%= link_to "Terms", terms_path %></li>

        <li class="mr-3"><%= link_to "Privacy", privacy_path %></li>

        <li class="mr-3"><a class="zocial-github" href="https://github.com/milspousecoders" ></a>
        </li>

        <li class="mr-3"><a class="zocial-facebook" href="https://www.facebook.com/MilSpouseCoders"></a>
        </li>

        <li class="mr-3"><a class="zocial-instagram" href="https://www.instagram.com/milspousecoders"></a>
        </li>

        <li class="mr-3">
          <a class="zocial-twitter" href="https://twitter.com/MILSpouseCoders"></a>
        </li>

        <li class="mr-3">
          <a class="zocial-googleplus" href="https://plus.google.com/115988512421332416550/posts">
          </a>
        </li>

        <li class="mr-3">
          <a class="zocial-youtube" href="https://www.youtube.com/channel/UCu0hl34X3ko53WSbHI1Olkw"></a>
        </li>

      </ul>
    </div>
  </div>
</footer>

<!-- how to commit?? -->
