<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <h1>About</h1>
    <p>
      Coding is the wave of the future. The tech industry is looking to hire
      around 1 million people by 2020. We think this is perfect opportunity to
      learn how to code and get a high paying job.
      We are pairing with Free Code Camp to get you on a web developer track.
      Best thing is this is all free. Why would we do it for free? That is a
      great question. We feel military members and their families constantly
      sacrifice their time and energy with limited resources. We want to give
      back. It is as simple as that. Our goal is to pay it forward. Once you
      learn coding skills and get a job we asked that you start a meetup and
      help other military spouses learn how to code.
    </p>
    <p>
      <strong>Mission</strong> - Teach viable computer and coding skills to military members and their families <br>
      <strong>Skills</strong> - HTML &amp; CSS, JavaScript, Ajax, JSON, Bootstrap, and WordPress.
    </p>
  </div>
</div>
